* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* utils */
a {
  text-decoration: none;
  color: #d8d8d8;
}

li {
  list-style: none;
}

body {
  max-height: 100vh;
  background: #d8d8d8;
}
/* navbar */
.navbar {
  background: rgba(6, 7, 52, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(6, 7, 52, 1),
    rgba(13, 46, 62, 1)
  );
  background: -moz-linear-gradient(top, rgba(6, 7, 52, 1), rgba(13, 46, 62, 1));
  background: linear-gradient(
    to bottom,
    rgba(6, 7, 52, 1),
    rgba(13, 46, 62, 1)
  );
  display: flex;
  width: 100%;
  height: 3.5rem;
}

.nav-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding-left: 2rem;
  font-size: 1.2rem;
}

/* navbar logo */
.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #d8d8d8;
}

.icon {
  font-size: 2.5rem;
  padding-right: 1rem;
  align-items: center;
  display: flex;
}

/* navbar add button */
.add-contact-btn {
  margin-left: 1rem;
  padding: 0.4rem;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #000;
  font-weight: 600;
  background: #a9a9a9;
  cursor: pointer;
  display: flex;
}

.btn-text {
  margin-left: 5px;
}

/* modal */
.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.modal-container {
  width: 30%;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 1rem;
  text-align: center;
  height: 50%;
}

/* form inside modal */
.add-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.text-input {
  padding: 0.5rem;
  margin: 1.5rem auto 0 auto;
  border-radius: 10px;
  width: 80%;
  outline: none;
  border: 1px solid #000;
  background: rgba(241, 228, 228, 0.808);
}

.add-contact-form-btn {
  padding: 0.3rem;
  width: 40%;
  margin: 1.5rem auto 0 auto;
  border: none;
  background: crimson;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 5px;
}

.form-radio-type {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.radio-input-div {
  margin-right: 20px;
}

.btn-div {
  display: flex;
}

/* contacts list */
.contacts-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85%;
  margin: 2rem auto;
  grid-gap: 2rem;
}

.contact {
  background: #f5f5f5;
  /* margin-left: 2rem; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contact .name {
  text-align: center;
  padding: 7px;
}

.contact-details-list li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.details {
  margin-left: 5px;
}

.details-type {
  text-transform: capitalize;
}

.btn {
  width: 30%;
  margin: 10px 10px 5px 10px;
  padding: 5px;
  border: none;
  color: #fff;
  background: red;
  cursor: pointer;
}

.btn-edit {
  background: #333;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-form {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.filter-input {
  padding: 10px;
  width: 25rem;
}

/* REGISTER FORM */
.register-form-container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-background {
  background: #f5f5f5;
  width: 30%;
  height: 63;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #d8d8d8;
}

.form h3 {
  text-align: center;
  background: rgba(6, 7, 52, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(6, 7, 52, 1),
    rgba(13, 46, 62, 1)
  );
  background: -moz-linear-gradient(top, rgba(6, 7, 52, 1), rgba(13, 46, 62, 1));
  background: linear-gradient(
    to bottom,
    rgba(6, 7, 52, 1),
    rgba(13, 46, 62, 1)
  );
}

.form input {
  margin-bottom: 0.5rem;
  padding: 5px;
}

.form :last-child {
  width: 35%;
  padding: 5px;
  margin: 1rem auto 0 auto;
}
